@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #6f00ff;
}

.app {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.app .mainHeading h1 {
  text-align: center;
}

.app h1,
h2 {
  color: white;
}

.app .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .input {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.app .input input {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}
.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app .todos .todo .left p {
  margin-left: 5px;
  font-size: small;
  font-weight: 700;
  font-style: normal;
  color: grey;
}

.app .todos .todo .left input {
  outline: none;
  border: none;
}

.add:hover {
  color: #49ff01;
}

.delete:hover {
  color: #840c0c;
}

.filter {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.btn-three {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  padding: 5px;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #470899;
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}